@(form: Form[(String, String)], token: Token)(implicit request: RequestHeader)
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    @form.globalError.map { error =>
      <p class="error">@error.message</p>
    }
    @helper.form(routes.Authentication.register(token.token)) {
      @helper.CSRF.formField
      <h1>Register</h1>
      <p>
	@token.email
      </p>
      <p>
        <input type="text" name="name" placeholder="Name" id="name" />
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" id="password" />
      </p>
      <p>
        <button type="submit" id="register-button">Submit</button>
      </p>
    }
  </body>
</html>
