@(form: Form[(String)])(implicit request: RequestHeader)
<html>
  <head>
    <title>Reset password</title>
  </head>
  <body>
    @form.globalError.map { error =>
      <p class="error">@error.message</p>
    }
    @helper.form(routes.Authentication.sendResetEmail) {
      @helper.CSRF.formField
      <h1>Reset password</h1>
      <p>
        <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value" />
      </p>
      <p>
        <button type="submit" id="send-email-button">Send email</button>
      </p>
    }
  </body>
</html>
