@(form: Form[(String)])(implicit request: RequestHeader)
@main("Reset password") {
    <h1>Reset password</h1>
    @form.globalError.map { error =>
      <p class="error">@error.message</p>
    }
    @helper.form(routes.Authentication.sendResetEmail) {
      @helper.CSRF.formField
      <p>
        <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value" />
      </p>
      <p>
        <button type="submit" id="send-email-button">Send email</button>
      </p>
    }
    <p><a href="/login">Login</a></p>
}
